<breadcrumb [info]="{parentUrl: '/products/search', parentTitle: 'Products',
 childTitle: product?.name, category: {name: product?.category?.name, id: product?.category?._id}}"></breadcrumb>
<div class="padding-main">
  <div class="container">
    <div class="row mar-bot-25">
      <div class="col-md-6">
        <div class="slider-for product-slider">
          <img src="/assets/images/noImage.jpg" width="100%" title="No-Image"
            *ngIf="!product.images || !product.images.length">
          <div *ngIf="product.images.length && activeSlide"
            [ngStyle]="{'background-image': 'url(' + activeSlide.mediumUrl + ')'}" class="slide-img-custom">
            <ngx-image-zoom [thumbImage]="activeSlide.mediumUrl" (click)="swipe(activeSlide.fileUrl)"
              [fullImage]="activeSlide.fileUrl" [enableLens]="true" [lensWidth]="150" [lensHeight]="150"
              [circularLens]="true">
            </ngx-image-zoom>
          </div>
          <span class="slick-arrow slick-next"
            (click)="changeSlide(slidePosition + 1);slickModal.slickGoTo(slidePosition)"
            [hidden]="slidePosition == product.images.length - 1 || product.images.length == 1 || !product.images.length"></span>
          <span class="slick-arrow slick-prev"
            (click)="changeSlide(slidePosition - 1);slickModal.slickGoTo(slidePosition)"
            [hidden]="slidePosition == 0 || product.images.length == 1"></span>
        </div>
        <div class="ps-list" [hidden]="!product.images.length">
          <ngx-slick-carousel class="carousel carousel-row" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of product.images, let i = index" class="slide">
              <img [src]="slide.thumbUrl" alt="" width="100%" [ngClass]="{'active': slidePosition === i}"
                (click)="changeSlide(i)">
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-detail product-information">
          <h2>{{product?.name}}</h2>
          <div class="rate-seller">
            <star-rating [rate]="product.ratingAvg" [total]="product?.totalRating"></star-rating>
          </div>
          <div translate>
            <span class="mar-right-5">Shop:</span>
            <strong>
              <a appLocationHref [url]="'/shops/'+ product.shop.alias">
                {{product?.shop?.name}}
              </a>
            </strong>
          </div>
          <div translate>
            <span class="mar-right-5">Instock:</span>
            <span *ngIf="stockQuantity">{{stockQuantity | number}}</span>
            <span *ngIf="!stockQuantity" class="badge badge-danger" translate>SOLD OUT!</span>
          </div>
          <div translate>
            <span class="mar-right-5">Weight:</span>
            <span>{{product?.weight}}{{product?.weightType}}</span>
          </div>
          <div translate>
            <span class="mar-right-5">Volume:</span>
            <span>{{product?.volume}} &#13221;</span>
          </div>
          <div>
            <span translate class="mar-right-5">Tax: </span>
            <span *ngIf="product.taxClass && product.taxPercentage"> {{product?.taxClass}}
              {{product?.taxPercentage}}%</span>
            <span *ngIf="!product.taxClass && !product.taxPercentage"> 0%</span>
          </div>
          <div [innerHtml]="product?.shortDescription | safeHtml"></div>
          <hr />
          <div class="prod-variants">
            <div class="price-detial">
              <span class="salePrice-format">{{salePrice | currency:"ZMW "}}</span>
              <span *ngIf="product?.freeShip" translate>Free Shipping</span>
              <div class="through-line">
                {{price | currency:"ZMW "}} <span class="discount-text">{{discountVal}}% <a translate>OFF</a></span>
              </div>
            </div>
            <div class="mar-bot-15" *ngIf="variants.length">
              <button type="button" class="collapse-btn" (click)="openVariant()">Options <i class="fa fa-bars"
                  *ngIf="!isShowVar"></i><i class="fa fa-close" *ngIf="isShowVar"></i>
              </button>
            </div>
            <div class="row" *ngIf="isShowVar">
              <div class="col-sm-6 mar-bot-10" *ngFor="let item of variants; let i = index"
                (click)="selectVariant(item, i)">
                <div class="variant-option">
                  <p *ngFor="let option of item.options">
                    <strong>{{option?.displayText || options?.key}}</strong>: {{option?.value}}
                  </p>
                  <span class="badge badge-warning stock-brand">
                    {{item?.stockQuantity | number}}
                    <span translate>in stock!</span>
                  </span>
                  <span class="badge badge-success check-icon" *ngIf="item.isSelected"><i
                      class="fa fa-check"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="quantity" *ngIf="stockQuantity">
            <span translate>Quantity:</span> <input (keypress)="onlyNumberKey($event)" type="number" min="1"
              max="{{stockQuantity}}" [(ngModel)]="quantity" name="quantity" />
          </div>
          <div class="button-detail text-center">
            <button class="btn-add-cart btn-wishlist fix" (click)="addCart()"
              *ngIf="product.stockQuantity && !isVariant || isVariant && selectedVariant.stockQuantity" translate><i
                class="fa fa-cart-plus"></i> ADD TO CART</button>&nbsp;

            <div class="text-center">
              <button class="btn-add-cart pull-left mar-right-5" (click)="addWishList(product)" translate><i
                  class="fa fa-heart"></i> ADD TO WISHLIST</button> &nbsp;
              <!-- <send-message-btn class="pull-left" [hidden]="product.shop?.ownerId === userID" [recipientId]="product.shop?.ownerId"></send-message-btn> -->

              <div class="share-icons pull-right">
                <span translate>Share:</span>
                <button shareButton="facebook" [image]="product?.mainImage" [description]="product?.shortDescription"><i
                    class="fa fa-facebook-square"></i></button>
                <button shareButton="twitter" [image]="product?.mainImage" [description]="product?.shortDescription"><i
                    class="fa fa-twitter-square"></i></button>
                <button shareButton="google" [image]="product?.mainImage" [description]="product?.shortDescription"><i
                    class="fa fa-google"></i></button>
                <!-- TODO add more button social btn here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs products-tab">
          <li class="nav-item">
            <a class="nav-link" (click)="tab = 'detail'" [ngClass]="{active: tab === 'detail'}"
              translate>Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="tab = 'reviews'" [ngClass]="{active: tab === 'reviews'}" translate>Reviews
              <span>({{product?.totalRating|number}})</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="tab = 'shippingPolicy'" [ngClass]="{active: tab === 'shippingPolicy'}"
              translate>Pickup Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="tab = 'refundPolicy'" [ngClass]="{active: tab === 'refundPolicy'}"
              translate>Refund
              Policy</a>
          </li>
        </ul>

        <div class="prod-description pt-3 pb-3" [hidden]="tab !== 'detail'">
          <h5 class="prd-title" translate>Information</h5>
          <div class="mar-top-15" [innerHTML]="product?.description | safeHtml"></div>
          <div *ngIf="!product?.description">
            <p>No description for product!</p>
          </div>
          <div class="clear"></div>
          <h5 translate *ngIf="product?.specifications?.length" class="prd-title">Specifications</h5>
          <table class="table table-responsive mar-top-15" *ngIf="product?.specifications?.length">
            <tr *ngFor="let spec of product.specifications">
              <td width="200">
                <strong>{{spec?.key}}</strong>
              </td>
              <td>{{spec?.value}}</td>
            </tr>
          </table>
        </div>

        <div class="pb-3" [hidden]="tab !== 'reviews'">
          <review-list [options]="{productId: product?._id, type: 'product'}"></review-list>
        </div>

        <div class="prod-description pt-3 pb-3" [hidden]="tab !== 'shippingPolicy'">
          <p class="pre-line">{{product?.shop?.shippingSettings?.shippingPolicy}}</p>
          <div *ngIf="!product.shop.shippingSettings && !product.shop.shippingSettings.shippingPolicy">
            <p translate>No shipping policy for this product!</p>
          </div>
        </div>
        <div class="prod-description pt-3 pb-3" [hidden]="tab !== 'refundPolicy'">
          <p class="pre-line">{{product?.shop?.shippingSettings?.refundPolicy}}</p>
          <div *ngIf="!product.shop.shippingSettings && !product.shop.shippingSettings.refundPolicy">
            <p translate>No refund policy for this product!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="related-block">
      <h3 translate class="related-title">RELATED GOODS</h3>
      <featured-products [options]="{productId: product?._id}"></featured-products>
    </div>
  </div>
</div>
