<div class="row row-detail-main justify-content-center pad-bt-45">
  <div class="col-md-5">
    <div class="card">
      <article class="card-body login-form">
        <form #frm="ngForm" (submit)="submit(frm)">
          <h3 class="box-title m-b-20" translate>Sign Up</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label translate class="required">First name</label>
                <input type="text" class="form-control" #firstName="ngModel" name="firstName" required [(ngModel)]="name.firstName"
                  autocomplete="off" />
                <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched || submitted)">
                  <p [hidden]="!firstName.errors.required" class="error" translate> First name is required </p>
                </div>
              </div>
              <div class="col-sm-6">
                <label translate class="required">Last name</label>
                <input type="text" class="form-control" #lastName="ngModel" name="lastName" required [(ngModel)]="name.lastName"
                  autocomplete="off" />
                <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched || submitted)">
                  <p [hidden]="!lastName.errors.required" class="error" translate> Last name is required </p>
                </div>
              </div>
            </div>
            <small class="form-text text-muted" translate>We'll never share your name with anyone else.</small>
          </div>
          <div class="form-group">
            <label translate class="required">Email address</label>
            <input type="text" class="form-control" #email="ngModel" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              name="email" required [(ngModel)]="account.email" autocomplete="off" />
            <small class="form-text text-muted" translate>We'll never share your email with anyone else.</small>
            <div *ngIf="email.errors && (email.dirty || email.touched || submitted)">
              <p [hidden]="!email.errors.required" class="error" translate> Email is required </p>
              <p [hidden]="!email.errors.pattern" class="error" translate> Email is wrong format </p>
            </div>
          </div>
          <div class="form-group">
            <label translate class="required">Mobile number</label>
            <div class="input-group">
              <dial-code (selectCode)="selectDial($event)"></dial-code>
              <input type="text" class="form-control" required name="phoneNumber" pattern="[0-9]{9,10}" (change)="inputPhone(phone.number)"
                #phone="ngModel" (keypress)="onlyNumberKey($event)" [(ngModel)]="phone.number" autocomplete="off" />
            </div>
            <small class="form-text text-muted" translate>We'll never share your phone with anyone else.</small>
            <div *ngIf="phone.errors && (phone.dirty || phone.touched || submitted)">
              <p [hidden]="!phone.errors.required" class="error" translate>Mobile number is required</p>
              <p [hidden]="!phone.errors.pattern" class="error" translate>Enter 9 or 10 digits number</p>
            </div>
          </div>
          <div class="form-group">
            <label translate class="required">Password</label>
            <input type="password" class="form-control" [minlength]="6" #password="ngModel" required name="password"
              [(ngModel)]="account.password" />
            <div *ngIf="password.errors && (password.dirty || password.touched || submitted)">
              <p [hidden]="!password.errors.minlength" class="error" translate> Password must be at least 6 characters!
              </p>
              <p [hidden]="!password.errors.required" class="error" translate> Password is required </p>
            </div>
          </div>
          <div class="form-group">
            <label translate class="required">Confirm Password</label>
            <input type="password" class="form-control" [minlength]="6" #rePassword="ngModel" required name="rePassword"
              [(ngModel)]="input.rePassword" />
            <div *ngIf="rePassword.errors && (rePassword.dirty || rePassword.touched || submitted)">
              <p [hidden]="!rePassword.errors.minlength" class="error" translate> Confirm Password must be at least 6
                characters </p>
              <p [hidden]="!rePassword.errors.required" class="error" translate> Confirm Password is required </p>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn btn-default btn-mixed" type="submit" translate>Register</button>
            <a [routerLink]="['/auth/login']" class="color-dark pull-right underline" translate>Already have account?</a>
          </div>
        </form>
      </article>
    </div>
  </div>
</div>
