<div class="container">
    <div class="invoice-form">
        <div class="row">
            <div class="col-sm-12">
            <div class="invoice-title">
              <h3><span translate>Invoice</span> #{{order?.trackingCode}}</h3>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <address>
                <strong><span translate>Billed To</span>: {{order?.firstName}} {{order?.lastName}}</strong>
                  <div><i class="fa fa-phone"></i> {{order?.phoneNumber}}</div>
                  <div><i class="fa fa-envelope"></i> {{order?.email}}<br></div>
                  <div>
                    <i class="fa fa-map-marker"></i> 
                    <span> {{order?.streetAddress}}</span>
                    <span *ngIf="order.state">, </span>
                    <span>{{order?.state}}</span>
                    <span *ngIf="order.city">, </span>
                    <span>{{order?.city}}</span>
                    <span>, {{order?.country}}</span>
                  </div>
                </address>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <address>
                  <strong>Payment Method: 
                    <span *ngIf="order.paymentMethod === 'cybersource'" class="badge badge-warning" translate>Cyber Source CC</span>
                    <span *ngIf="order.paymentMethod !== 'cybersource'" class="text-uppercase">{{order?.paymentMethod}}</span>
                  </strong>
                  <br>
                  <strong><span translate>Payment Status</span>: <span class="badge badge-success"> {{order?.paymentStatus}}</span></strong><br>
                  <strong><span translate>Transaction ID</span>: {{order?.transactionId}}</strong>
                </address>
              </div>
              <div class="col-sm-6 text-right">
                <address>
                  <strong>Order Date: {{order?.createdAt | date:'short'}}</strong><br>
                  <strong>Total Products: {{order?.totalProducts}}</strong><br>
                  <strong>Total Price: {{order?.totalPrice | currency:"ZMW "}}</strong>
                </address>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row" *ngIf="shopId">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body" *ngFor="let shop of listShops; let i = index">
                <h4 *ngIf="shopId === shop[0].shopId">Shop <strong>{{shop[0]?.shopDetail?.name}}</strong></h4>
                <div class="table-responsive" *ngIf="shopId === shop[0].shopId">
                  <table class="table table-condensed">
                    <thead>
                      <tr class="thead-invoice">
                          <td translate>Sub Order ID</td>
                          <td translate>Product</td>
                          <td translate>Variant</td>
                          <td class="text-center" translate>Unit Price</td>
                          <td class="text-center" translate>Tax</td>
                          <td class="text-center" translate>Quantity</td>
                          <td class="text-center" translate>Total</td>
                          <td class="text-center" translate>Status</td>
                          <td translate>Pick Up Address</td>
                          <td tranlaste>Pick Up By</td>
                          <td tranlate>Note</td>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- foreach ($order->lineItems as $line) or some such thing here -->
                      <tr  *ngFor="let item of shop">
                        <td><strong>{{item?.trackingCode}}</strong></td>
                        <td class="no-wrap">
                          {{item?.productDetails?.name}}<br>
                          <span class="badge badge-info">{{item?.productDetails?.type}}</span>
                        </td>
                        <td class="text-center">
                            <p *ngIf="item.variantDetails">
                                <span *ngFor="let option of item.variantDetails.options" class="no-wrap">
                                  {{option.displayText || option.optionKey}}: {{option.value}}
                                </span>
                            </p>
                        </td>
                        <td class="text-center no-wrap">
                          {{item?.productPrice | currency:"ZMW "}}
                        </td>
                        <td class="text-center no-wrap">
                          {{item?.taxPrice | currency:"ZMW "}}
                        </td>
                        <td class="text-right">{{item?.quantity}}</td>
                        <td class="text-center no-wrap">{{item?.totalPrice | currency:"ZMW "}}</td>
                        <td><span class="badge badge-warning">{{item?.status}}</span></td>
                        <td class="no-wrap">{{item?.pickUpAddress}}</td>
                        <td class="no-wrap">
                            <p><span class="badge badge-success">{{item?.userPickUpInfo?.pickUpBy}}</span></p>
                            <p *ngIf="item.userPickUpInfo && item.userPickUpInfo.pickUpBy === 'others' && item.userPickUpInfo.name"><span translate>Name</span>: {{item?.userPickUpInfo?.name}}</p>
                            <p *ngIf="item.userPickUpInfo && item.userPickUpInfo.pickUpBy === 'others' && item.userPickUpInfo.idNumber"><span translate>ID</span>: {{item?.userPickUpInfo?.idNumber}}</p>
                            <p *ngIf="item.userPickUpInfo && item.userPickUpInfo.pickUpBy === 'others' && item.userPickUpInfo.phoneNumber"><span translate>Mobile</span>: {{item?.userPickUpInfo?.phoneNumber}}</p>
                        </td>
                        <td>
                          {{item?.userNote}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!shopId">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body" *ngFor="let shop of listShops; let i = index">
                  <h4>Shop <strong>{{shop[0]?.shopDetail?.name}}</strong></h4>
                  <div class="table-responsive">
                    <table class="table table-condensed">
                      <thead>
                        <tr class="thead-invoice">
                            <td translate>Sub Order ID</td>
                            <td translate>Product</td>
                            <td translate>Variant</td>
                            <td class="text-center" translate>Unit Price</td>
                            <td class="text-center" translate>Tax</td>
                            <td class="text-center" translate>Quantity</td>
                            <td class="text-center" translate>Total</td>
                            <td class="text-center" translate>Status</td>
                            <td translate>Pick Up Address</td>
                            <td tranlaste>Pick Up By</td>
                            <td tranlate>Note</td>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                        <tr  *ngFor="let item of shop">
                          <td><strong>{{item?.trackingCode}}</strong></td>
                          <td class="no-wrap">
                            {{item?.productDetails?.name}}<br>
                            <span class="badge badge-info">{{item?.productDetails?.type}}</span>
                          </td>
                          <td class="text-center">
                              <p *ngIf="item.variantDetails">
                                  <span *ngFor="let option of item.variantDetails.options" class="no-wrap">
                                    {{option.displayText || option.optionKey}}: {{option.value}}
                                  </span>
                              </p>
                          </td>
                          <td class="text-center no-wrap">
                            {{item?.productPrice | currency:"ZMW "}}
                          </td>
                          <td class="text-center no-wrap">
                            {{item?.taxPrice | currency:"ZMW "}}
                          </td>
                          <td class="text-right">{{item?.quantity}}</td>
                          <td class="text-center no-wrap">{{item?.totalPrice | currency:"ZMW "}}</td>
                          <td>
                              <status-display [status]="item.status"></status-display>
                          </td>
                          <td class="no-wrap">{{item?.pickUpAddress}}</td>
                          <td class="no-wrap">
                              <p><span class="badge badge-success">{{item?.userPickUpInfo?.pickUpBy}}</span></p>
                              <p *ngIf="item.userPickUpInfo && item.userPickUpInfo.pickUpBy === 'others' && item.userPickUpInfo.name"><span translate>Name</span>: {{item?.userPickUpInfo?.name}}</p>
                              <p *ngIf="item.userPickUpInfo && item.userPickUpInfo.pickUpBy === 'others' && item.userPickUpInfo.idNumber"><span translate>ID</span>: {{item?.userPickUpInfo?.idNumber}}</p>
                              <p *ngIf="item.userPickUpInfo && item.userPickUpInfo.pickUpBy === 'others' && item.userPickUpInfo.phoneNumber"><span translate>Mobile</span>: {{item?.userPickUpInfo?.phoneNumber}}</p>
                          </td>
                          <td>
                            {{item?.userNote}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>