<div class="padding-main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <profile-sliderbar></profile-sliderbar>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <form role="form" #frm="ngForm" (submit)="submit(frm)" ngNativeValidate method="post">
            <div class="panel-heading resume-heading">
              <div class="row">
                <div class="col-md-5">
                  <figure>
                    <img class="img-circle img-responsive" class="avatar" width="100%" [src]="avatarUrl"
                      (click)="swipe(avatarUrl)">
                  </figure>
                  <file-upload [options]="avatarOptions"></file-upload>
                </div>
                <div class="col-md-7">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">
                          <i class="fa fa-user"></i>&nbsp; <span translate class="required">Name</span>
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="{{'Enter your name' | translate}}"
                            [(ngModel)]="info.name" required name="name" #name="ngModel" />
                          <div *ngIf="name.errors && (name.dirty || name.touched || isSubmitted)">
                            <p [hidden]="!name.errors.required" style="color:red" translate> Please enter user first
                              name and last name! </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3"><i class="fa fa-envelope"></i>&nbsp; <span translate>Email</span>
                        </div>
                        <div class="col-md-9">
                          <input type="email" class="form-control" placeholder="user@example.com"
                            [(ngModel)]="info.email" name="email" required #email="ngModel"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" disabled />
                          <div *ngIf="email.errors && (email.dirty || email.touched || isSubmitted)">
                            <p [hidden]="!email.errors.required" style="color:red" translate> Email is required </p>
                            <p [hidden]="!email.errors.pattern" style="color:red" translate> Please enter a valid email
                              address </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3"><i class="fa fa-phone"></i>&nbsp; <span translate>Mobile Number</span>
                        </div>
                        <div class="col-md-9">
                          <div class="input-group">
                            <dial-code (selectCode)="selectDial($event)" [dial]="mobile.dial"></dial-code>
                            <input type="text" class="form-control" name="phoneNumber" pattern="[0-9]{9,10}"
                              #phone="ngModel" (keypress)="onlyNumberKey($event)" [(ngModel)]="mobile.number"
                              autocomplete="off" />
                          </div>
                          <div *ngIf="phone.errors && (phone.dirty || phone.touched || isSubmitted)">
                            <p [hidden]="!phone.errors.pattern" style="color:red" translate>
                              Enter 9 or 10 digits number
                            </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3"><i class="fa fa-location-arrow"></i>&nbsp; <span translate>Address</span>
                        </div>
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="info.address" name="address" required
                              #address="ngModel" />
                            <div *ngIf="address.errors && (address.dirty || address.touched || isSubmitted)">
                              <p [hidden]="!address.errors.required" style="color:red" translate>
                                Address is required
                              </p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label translate>City</label>
                            <select [(ngModel)]="info.city" (change)="cityChange(info.city)" name="city"
                              class="form-control">
                              <option value="">--Select City/Town--</option>
                              <option *ngFor="let city of cities" [value]="city.name">{{city?.name}}</option>
                            </select>
                          </div>
                          <div class="form-group" *ngIf="citySelected.areas && citySelected.areas.length || info.area">
                            <label translate>Area</label>
                            <select [(ngModel)]="info.area" name="area" class="form-control">
                              <option value="">--Select Area--</option>
                              <option *ngFor="let area of citySelected.areas" [value]="area">{{area}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">
                          <i class="fa fa-unlock-alt"></i>&nbsp; <span translate>Password</span>
                        </div>
                        <div class="col-md-9">
                          <input type="password" class="form-control" [(ngModel)]="info.password" name="password"
                            #password="ngModel" minlength="6" />
                          <div *ngIf="password.errors && (password.dirty || password.touched || isSubmitted)">
                            <p [hidden]="!password.errors.minlength" style="color:red" translate> Password must be at
                              least 6 characters! </p>
                          </div>
                          <p class="help help-block">
                            <small translate>Blank to keep current password</small>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col col-md-12">
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit" translate>Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
